body {
    background-color: rgb(229, 212, 180);
    font-family: Georgia, serif;
    line-height: 1.5;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
    margin-bottom: 0.8em;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
}

.col {
    flex: 1;
    margin: 0 10px;
}


.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.circledPage {
    display: inline-block;
    height: 2em;
    line-height: 2em; 
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    vertical-align: middle; 
    margin: 0 0.2em;
}


